*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* margin-bottom: 1000px; */
}


.nav{
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    background-color: rgb(33, 67, 112);
    position: fixed;
    top: 0px;
    color: white;
}
.nav a{
    color: white;
    text-decoration: none;
}


.menu{
    height: 200px;
    width: 100%;
    /* border: 5px solid black; */
    background-color: white;
    position: fixed;
    top: 0px;
    margin-top: 30px;
}
img{
    height: 150px;
    width: 500px;
    margin-left: 20px;
    margin-top: 40px;
    display: inline-flex;
    position: fixed;
    top: 0px;
}
.logo{
    display:inline-flex;
    align-items:center;
    justify-content:space-evenly;
    flex-flow: row wrap;
    height: 100px;
    position:fixed;
    top:0px;
    margin-top: 70px;
    margin-left:500px;
}

.logo option{
    font-size: 10px;
}

.m1{
    background-color: rgb(128, 0, 0);
    height: 150px;
    position: relative;
    top: 200px;
    color: white;
    padding: 50px 100px;
    font-size: 30px;
}
.m1 img{
    height: 150px;
    width: 200px;
    margin-left: 1000px;
    border: 10px solid white;
    position:absolute;
    top: 0px;
}



.p1{
    margin-top: 250px;
    margin-left: 150px;
    font-size: 25px;
    color:darkred;
    margin-right: 150px;
    font-weight: bold;
}


.flex1{
    height:270px ;
    margin-top: 20px;
    margin-left: 150px;
    /* border: 2px solid black; */
    display: flex;
    

}
.cm1{
    height: 120px;
    width: 300px;
    border: 2px solid black;
}
.flex1 a{
    text-decoration: none;
    font-size: 20px;
    color:orange;
}

.cm2{
    height:250px ;
    width: 850px;
    /* border: 2px solid black; */
    margin-left: 20px;
    
}
.cm2 h2{
    color: darkblue;
}
.cm2 h3{
    color: brown;
}
.cm2 p{
    line-height: 30px;
    font-size: 19px;
}

.item4{
    color: black;
    line-height: 20px;
    font-size: 18px;
    border:2px solid black ;
    margin-left: 150px;
}

.marquee1{
    background-color: rgb(128, 0, 0);
    height: 40px;
    color: white;
    padding:10px 0px;

}

.border{
    display: flex;
    height: 400px;
    background-color: black;
    align-items: center;
    justify-content:space-around;
}
.common{
    height: 250px;
    width: 300px;
    /* border: 2px solid white; */

}
.b1 p{
    color: white;
}

.b3{
    background-image: url('sv7.jpg');
    background-size: cover;
}
.b4 a{
    text-decoration:none ;
    color:orange;
}

